# Evelyn Pu

## Research question/interests

My personal interest is in the analysis of bike-sharing user demographics. My analysis may include ***whether these two types of users( casual and registered) share the same user number trends***, as well as the analysis of the characteristics of each of them and the percentage of total users. I am taking a statistics course this term, which has inspired me, and I think I can use some statistical skills to accomplish this task.


To figure out this, I might analyzeï¼š

1. for both types of users, is there always more users of one type? -I would like to compare the respective Numeric values and use an int variable or bool variable to record the number of times the number of users of one type is greater than the number of users of the other type, and if so this number is added to 1 or defined as true.(but I am not sure which is better and will try in a later analysis)
Possible details to include:
(1) Assume an int variable named x to record the number of times a class of users is more than another class of users.
(2) Add a column named 'IFregMORE', of type boolean.
(3) Combine while/for Loop and if statements to determine true when the number of users of one class is more than the number of users of another class, and apply this condition to each rows loop.
(4) At the end of the loop, use count() to count the number of times true and assign it to x to determine if there are always more users of one category than another.
(5) (Optional) Calculate the statistics of the two types of users, such as mean, median, min and max, etc.


2. Are the usage habits of the two types of users the same? For example, using the change in the number of users in a certain season, a certain time of day, to analyze whether they have the same willingness to use in a certain season/day/time of day. Here, I plan to use histograms or scatter plots to look at the data.
Possible details to include:
(1) add two new columns named 'casSeason' and 'regSeason'
(2) Calculate the total number of users in both categories for each season, using columns= 'season' as index.
(3) Make a chart with visual data for observation.

In [ ]:
import pandas as pd

In [ ]:
day = pd.read_csv("../data/raw/day.csv")
day

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
726,727,2012-12-27,1,1,12,0,4,1,2,0.254167,0.226642,0.652917,0.350133,247,1867,2114
727,728,2012-12-28,1,1,12,0,5,1,2,0.253333,0.255046,0.590000,0.155471,644,2451,3095
728,729,2012-12-29,1,1,12,0,6,0,2,0.253333,0.242400,0.752917,0.124383,159,1182,1341
729,730,2012-12-30,1,1,12,0,0,0,1,0.255833,0.231700,0.483333,0.350754,364,1432,1796
730,731,2012-12-31,1,1,12,0,1,1,2,0.215833,0.223487,0.577500,0.154846,439,2290,2729

In [ ]:
hour=pd.read_csv("../data/raw/hour.csv")
hour

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,17375,2012-12-31,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,11,108,119
17375,17376,2012-12-31,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,8,81,89
17376,17377,2012-12-31,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,7,83,90
17377,17378,2012-12-31,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48,61
17378,17379,2012-12-31,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37,49